body {
  background-color: #222;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2em;
  padding-top: 0.5em;
  color: #3d0099;
}

#header {
  background-color: #c5b2e0;
}

#output {
  background-color: #ddd;
}